#!/usr/bin/make -f

DEB_PYTHON_SYSTEM = pysupport

include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk
include /usr/share/cdbs/1/rules/patchsys-quilt.mk

DEB_PYTHON_SETUP_CMD = /dev/null

clean::
	rm -f $(CURDIR)/debian/pycompat
	rm -f $(CURDIR)/help/virt-manager/C/virt-manager-C.omf.out
